@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

html,
body {
    background: #444;
    color: #48a770;
    font-weight: 300;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

tr:hover,
tr:focus {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
}

.info:hover {
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    color: white;
    width: 247px;
    height: 120px;
    font-size: 2.3em;
    font-weight: bolder;
    vertical-align: middle;
}

#map {
    height: 100%;
}

#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 3px;
    padding-right: 3px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    width: 390px;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    height: 69%;
}

.adp-legal {
    display: none;
}

.adp,
#pDetails {
    position: absolute;
    bottom: 0px;
    height: auto;
    max-height: 650px;
    overflow: auto;
}

#pDetails table {
    font-weight: 300;
    color: #2c2c2c;
    font-size: 25px;
}

#pDetails tbody,
#pDetails tr,
#pDetails td {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#pDetails td {
    border-top: 1px solid #cdcdcd;
    margin: 0;
    padding: .3em 3px;
    vertical-align: top;
    width: 250px;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

#pDetails td.second {
    text-align: right;
}

#pDetails td.single {
    text-align: center;
}

.inactive {
    /* display: none; */
}

.controls {
    margin-top: 10px;
    color: #000;
    border: 1px solid #8e8e8e;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 280px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

#overlay div {
    width: 550px;
    margin: 100px auto;
    background-color: #48a770;
    padding: 15px;
    text-align: center;
}

#overlay span {
    text-align: right;
}

.close {
    color: rgba(0, 0, 0, 0.4);
    float: right;
}

.opacifymap {
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
}


@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    overflow-y: scroll;
    background: #f3efe0;
    overflow: auto;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    visibility: visible;
    width: 390px;
    height: 100%;
    background: #48a770;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu ul li a {
    display: block;
    padding: 0.8em 0 1.2em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 25px;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
}

.st-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
}

.st-effect-2.st-menu-open .st-pusher {
    -webkit-transform: translateX(-390px);
    transform: translateX(-390px);
}

.st-effect-2.st-menu {
    z-index: 1000;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-effect-2.st-menu::after {
    display: none;
}

.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 300px;
}

#span {
    float: right;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 80px;
}

.spanclasswhite {
    color: white;
}

.dr-icon-menu:before {
    content: "\e90d";
}

.dr-icon:before,
.dr-icon:after {
    position: relative;
    font-family: 'icomoon';
    font-size: xx-large;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

#st-trigger-effects {
    position: relative;
    height: 100%;
}

.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body {
    background: rgba(0, 0, 0, 0.2);
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 520px;
    min-width: 320px;
    height: auto;
    z-index: 10000;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-content {
    color: #fff;
    background: #48a770;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}

.md-show.md-effect-18 ~ .st-container {
    height: 100%;
    overflow: hidden;
}

.md-show.md-effect-18 ~ .md-overlay {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.md-show.md-effect-18 ~ .st-container,
.md-show.md-effect-18 ~ .md-overlay {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0% 20%;
    -webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
    -moz-transform-style: preserve-3d;
    -moz-transform-origin: 0% 50%;
    -moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    animation: rotateRightSideFirst 0.5s forwards ease-in;
}

@-webkit-keyframes rotateRightSideFirst {
    50% {
        -webkit-transform: translateZ(-50px) rotateY(5deg);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateZ(-200px);
    }
}

@-moz-keyframes rotateRightSideFirst {
    50% {
        -moz-transform: translateZ(-50px) rotateY(5deg);
        -moz-animation-timing-function: ease-out;
    }
    100% {
        -moz-transform: translateZ(-200px);
    }
}

@keyframes rotateRightSideFirst {
    50% {
        transform: translateZ(-50px) rotateY(5deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateZ(-200px);
    }
}

.md-effect-18 .md-content {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0;
}

.md-show.md-effect-18 .md-content {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
}

@media screen and (max-width: 32em) {
    body {
        font-size: 75%;
    }
}






@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon/icomoon.eot');
    src: url('./fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('./fonts/icomoon/icomoon.woff') format('woff'), url('./fonts/icomoon/icomoon.ttf') format('truetype'), url('./fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.6em;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
}

.ic:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.icon-location:before {
    content: "\e901";
}

.icon-location2:before {
    content: "\e902";
}

.icon-compass:before {
    content: "\e903";
}

.icon-map:before {
    content: "\e904";
}

.icon-map2:before {
    content: "\e905";
}

.icon-cross:before {
    content: "\e900";
}

.icon-pinterest:before {
    content: "\e906";
}

.icon-pinterest2:before {
    content: "\e907";
}

.icon-paypal:before {
    content: "\e908";
}

.icon-paypal2:before {
    content: "\e909";
}

.icon-paypal3:before {
    content: "\e90a";
}

.icon-tag:before {
    content: "\e90b";
}

.icon-location3:before {
    content: "\e90c";
}

.icon-phone:before {
    content: "\e911";
}

.icon-office:before {
    content: "\e90e";
}

.icon-newspaper:before {
    content: "\e90f";
}

.icon-stack:before {
    content: "\e910";
}

.icon-database:before {
    content: "\e912";
}

.alert{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}